@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 1o0vh;
  overflow-y: auto;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: var(--light-grayish-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 24px;
  overflow: hidden;
}

.article-preview {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 730px;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.article-image {
  flex: 0 0 40%;
  max-width: 285px;
}

.drawer-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-content {
  flex: 1;
  padding: 32px 40px;
  position: relative;
}

.article-title {
  color: var(--very-dark-grayish-blue);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.author-name {
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
  margin: 0;
  padding-right: 0.5rem;
  margin-left: -0.5rem;
  margin-top: 0.5rem;
  text-align: left;
}

.article-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 20px;
}

.author-info {
  display: flex;
  align-items: center;
}

.author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.author-text {
  display: flex;
  flex-direction: column;
}

.author-name {
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.article-date {
  color: var(--grayish-blue);
  margin: 5px 0 0 0;
  padding: 0;
}

.share-container {
  position: relative;
}

.share-button {
  background-color: var(--light-grayish-blue);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 2;
}

.share-button:hover,
.share-button.active {
  background-color: var(--desaturated-dark-blue);
}

.share-button:hover path,
.share-button.active path {
  fill: white;
}

.share-options {
  position: absolute;
  bottom: 165%;
  right: -107px;
  background-color: var(--very-dark-grayish-blue);
  padding: 15px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s, visibility 0.3s;
  white-space: nowrap;
  z-index: 10;
}

.share-options::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 12px solid transparent;
  border-top-color: var(--very-dark-grayish-blue);
  transform: translateX(-50%);
}

.share-options p {
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-right: 15px;
}

.article-preview {
    overflow: visible;
}

.share-options a {
  margin: 0 7px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.attribution {
  font-size: 15px;
  text-align: center;
  margin-top: 8rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-weight: bolder;
}

.attribution a:hover{
    color: hsl(214, 17%, 51%);
}

@media (max-width: 768px) {
  .article-preview {
    flex-direction: column;
    max-width: 330px;
  }

  .article-image {
    flex: 0 0 200px;
    max-width: none;
  }

  .article-content {
    padding: 36px 32px 20px;
  }

  .article-title {
    font-size: 16px;
  }

  .share-options {
    right: -32px;
    left: -32px;
    bottom: -20px;
    transform: none;
    border-radius: 0 0 10px 10px;
    justify-content: flex-start;
  }

  .share-options::after {
    display: none;
  }

  .article-author {
    flex-wrap: nowrap;
  }

  .article-author {
    flex-wrap: wrap;
  }

  .author-info {
    flex: 1;
  }

  .share-container {
    position: static;
  }

  .share-button {
    position: relative;
    z-index: 3;
  }
}
